.main-pg-FAQ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  /*background-color: var(--darkest);*/
  background: radial-gradient(
    circle at -10% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
  color: white;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

ul li.question {
  font-size: large;
  font-weight: bold;
  margin: 2px;
}

ul li.answer {
  margin: 2vh;
}

.home-faq {
  position: relative;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 35% 0px;
  margin-left: 40px;
}

.home-content-faq {
}

.hidden {
  display: none;
}
