.main-pg-FAQ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  /*background-color: var(--darkest);*/
  background: radial-gradient(
    circle at -10% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
  color: white;
}

.header-front {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(19, 30, 37);
  z-index: 1000; /* Ensure it's above other content */
  transition: top 0.3s; /* Smooth transition when hiding/showing */
}

.home-faq {
  margin-top: 10vh; /* Adjust based on the height of the navbar */
}

ul {
  list-style-type: none;
  text-decoration: none;
}

ul li.question {
  font-size: large;
  font-weight: bolder;
  margin: 2px;
}

ul li.answer {
  margin: 2vh;
}

.home-faq {
  position: relative;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 35% 0px;
  margin-left: 40px;
}

.home-content-faq {
  display: inline-block;
  /*background-color: rgba(255, 255, 255, 0.2) ;*/
  border-radius: 25px;
  align-items: center;
  width: 80vh;
  margin-bottom: 5vh;
}

.hidden {
  display: none;
}

.q-box {
  background-color: rgb(33, 230, 193, 0.2);
  border-radius: 25px;
  padding: 0.8rem;
  margin: 2vh;
  margin-left: 0;
  width: 70vh;
  animation: slideRightFAQ 1s linear;
  animation-fill-mode: both;
}

.home-content-faq div:nth-child(1) {
  animation-delay: 0.5s;
}
.home-content-faq div:nth-child(2) {
  animation-delay: 1s;
}
.home-content-faq div:nth-child(3) {
  animation-delay: 1.5s;
}
.home-content-faq div:nth-child(4) {
  animation-delay: 2s;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideRightFAQ {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
