.wrapper-stats {
  margin-bottom: 25px;
  margin-top: 25px;
  border-radius: 15px;
  overflow: auto;
}

.wrapper-stats .box-title {
  background-color: black;
  background: radial-gradient(ellipse at bottom, rgb(12, 25, 59), rgb(0, 0, 0));
  color: white;
  opacity: 90%;
  font-size: 20px;
}

.box-dues {
  background-color: rgb(255, 255, 255);
  color: rgb(12, 25, 59);
}
