.btn-container {
}
#close {
  background-color: rgb(4, 0, 70);
  border-radius: 15px;
  color: white;
}

#close:hover {
  background-color: white;
  border-radius: 5px;
  color: rgb(4, 0, 70);
  border-style: none;
}
.e1 {
  margin: 8vh;
  align-content: center;
  align-items: center;
}
#l {
  padding: 10px;
  margin: 2vh;
  width: 20vh;
}

#sub {
  position: absolute;
  margin-left: 40%;
  background-color: rgb(4, 0, 70);
  border-radius: 15px;
  color: white;
  width: 10vh;
  font-size: large;
}
