#l {
  margin-left: 0vh;
  font-size: 20px;
}

#n {
  margin-top: 2vh;
  margin-bottom: 3vh;
}

#s {
  align-items: center;
  margin-left: 10vh;
}

.container {
  height: 200px;
  position: relative;
  border: 3px solid rgba(0, 128, 0, 0);
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button-17:hover {
}
