@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/*
body {
  background-color: rgb(12, 25, 59); /* dark blue background 
  font-family: "Poppins", sans-serif;
}*/

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.faq-content {
  background: radial-gradient(
    ellipse at bottom,
    rgb(12, 25, 59),
    rgb(0, 0, 0)
  ); /* dark blue to black gradient background */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  color: white;
  max-width: 600px;
}

.faq-question {
  font-size: 18px;
  margin-bottom: 10px;
}

.faq-answer {
  font-size: 16px;
  margin-bottom: 20px;
}
.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  float: left;
  margin-right: 3vh;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
